extends layout
block extraHeader
    script(src="/javascripts/uploadPbkey.js")
    script(charset="utf-8" src="https://ucarecdn.com/libs/widget/3.1.1/uploadcare.full.min.js")

block content
    form(action='/student/new', method='POST')
        label First Name
        br
        input(name='firstName', type='text', placeholder='First Name')
        br
        label Last Name
        br
        input(name='lastName',type='text', placeholder='Last Name')
        br
        label Age
        br
        input(name='age',type='text', placeholder='Age')
        br
        input(type="hidden" role="uploadcare-uploader" name="userAvatar" data-clearable = "true" data-images-only)
        br
        input(type='submit', value='Add')