extends layout
block extraHeader
    script UPLOADCARE_PUBLIC_KEY = '028ece3ffa7b3c306f1b'
    script(charset="utf-8" src="https://ucarecdn.com/libs/widget/3.1.1/uploadcare.full.min.js")
    //script(UPLOADCARE_PUBLIC_KEY = 'your_public_key')
block content
    p=message
    form(method="POST", action="/users/signup")
        label username
        br
        input(name="username", placeholder="Username")
        br
        label password
        br
        input(name="password", type="password", placeholder="Password")
        br
        input(type="hidden" role="uploadcare-uploader" name="content" data-public-key="028ece3ffa7b3c306f1b" data-images-only="true")
        input(type="hidden" role="uploadcare-uploader" name="content" data-images-only="true")
        br
        input(type="submit", value="Signup")