body {
  padding: 50px;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
  background: #e0e0e0;
}

td,th {
  padding: 10px;
}

input {
  margin-bottom: 10px;
}
#del img{
  width:25px;
  height:25px;

}
.avatar{
  width:75px;
  height:75px;
  border-radius:50%;
  /*border: 2px; /*solid #b2b2b2;*/
}
#useravatar{
  width:25px;
  height:25px;
  border-radius:50%;
}
/*#markerLayer img{*/
  /*border: 1px solid red !important;*/
  /*border-radius: 50%;*/
/*}*/
/*[title="spot"] img{*/
  /*border: 2px solid blue !important;*/
  /*border-radius: 50%;*/
/*}*/